.meal-info{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}


.meal-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.meal-form form input, textarea{
    width: 40%;
    margin-bottom: 10px;
}